@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
	font-family: 'VT323', monospace !important;
  font-size: 25px;
}

h1 {
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  line-height: '40px';
}

/* button.flow:hover ::after{
  content: '◄';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 100%;
} */

.workspace {
  background-color: rgb(26, 28, 29);
  background-size: 30px 30px;
  background-image: linear-gradient( 0deg, transparent 24%, rgba(255, 255, 255, 0.04) 25%, rgba(255, 255, 255, 0.04) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.04) 75%, rgba(255, 255, 255, 0.04) 76%, transparent 77%, transparent ), linear-gradient( 90deg, transparent 24%, rgba(255, 255, 255, 0.04) 25%, rgba(255, 255, 255, 0.04) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.04) 75%, rgba(255, 255, 255, 0.04) 76%, transparent 77%, transparent );
}